.show-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}
.show-modal.active {
  opacity: 1;
  visibility: visible;
}
