@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Varela Round", sans-serif !important;
  background-color: #f7f7f7;
}
